.home-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    color: #000000;
    background: linear-gradient(135deg, #b282d6, #b282d6a9, #fefefe59);
    background-size: 300% 300%;
    animation: gradientShift 10s ease infinite;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(135deg, #6200ad84, #ffffffbf);
    color: white;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease-out;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.home-logo-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.home-logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: width 0.01s ease, height 0.01s ease, font-size 0.1s ease; 
}

.home-logo:hover {
    width: 80px; 
    height: 80px;  
    animation: logoRotate 1.5s linear infinite;
}

.home-app-name {
    margin-top: 35px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.home-header-buttons {
    display: flex;
    justify-content: flex-end; 
    gap: 15px;
    align-items: center; 
}

.home-header-button {
    width: 120px;
    height: 50px;
    flex: 1;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #6200ad84;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.home-header-button:hover {
    background-color: #b282d6;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.home-header-button:active {
    transform: scale(0.95);
}
.home-header-button-my-orders {
    margin-top: 15px; 
    width: 120px;
    height: 50px;
    flex: 1;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #6200ad84;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}
.home-header-button-my-orders:hover {
    background-color: #b282d6;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.home-header-button-my-orders:active {
    transform: scale(0.95);
}

.home-products-container {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    margin-top: 160px; 
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    white-space: nowrap;
}

    .home-products-container::-webkit-scrollbar {
        height: 8px; 
    }

    .home-products-container::-webkit-scrollbar-thumb {
        background: #b282d6;
        border-radius: 10px;
    }

    .home-products-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

.home-product-card {
    display: inline-block;
    background: #ffffffbf;
    border-radius: 20px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    width: 400px;
    height: 500px; 
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
  
.home-product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
  
.home-product-image {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 5px;
    margin: 0 auto 10px;
    border: 5px solid #b282d6;
    box-shadow: 0 4px 10px rgba(228, 121, 238, 0.4);
    animation: pulse 2s infinite ease-in-out;
}

.home-product-card h3 {
    font-size: 18px;
    color: #000000;
    margin: 10px 0;
    text-align: center; 
}

.home-product-card p {
    font-size: 14px;
    color: #000000;
    margin: 5px 0;
    line-height: 1.5;
    text-align: left; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}
 
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes logoRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}