.products-table {
    margin-top: 20px;
  }
  
  .products-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .products-table th, .product-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ef0000;
  }
  
  .products-table img {
    width: 100px;
    height: auto;
  }
  