.profile-body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #b282d6, #b282d6a9, #fefefe59);
  background-size: 300% 300%;
  animation: gradientShift 8s ease infinite;
  color: #333;
}

@keyframes gradientShift {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 900px;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

.profile-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 2px solid #b282d6;
  color: #b282d6;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(193, 141, 235, 0.4);
}

.profile-back-button:hover {
  background-color: #6200ad84;
  color: #fff;
  transform: translateY(-2px);
}

.profile-details {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin-top: 10px; 
  box-sizing: border-box;
}

.profile-details p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #666;
  text-align: center;
}

.profile-details p strong {
  color: #b282d6;
  font-weight: bold;
}


.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid #b282d6;
  box-shadow: 0 4px 10px rgba(200, 139, 236, 0.4);
  animation: pulse 2s infinite ease-in-out;
}

.profile-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #b282d6;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(200, 139, 236, 0.4);
  transition: all 0.3s ease;
}

.profile-button:hover {
  background-color: #b282d6;
  box-shadow: 0 6px 12px rgba(200, 139, 236, 0.4);
  transform: translateY(-2px);
}
