body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #b282d6, #b282d6a9, #fefefe59);
    background-size: 300% 300%;
    animation: gradientShift 8s ease infinite;
    color: #333;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 2px solid #b282d6;
    color: #b282d6;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(176, 126, 188, 0.4);
}

.back-button:hover {
    background-color: #b282d6;
    color: #fff;
    transform: translateY(-2px);
}

.profile-update-page {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 40px;
    background-color: #ffffffcf;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(168, 123, 183, 0.1);
    margin-top: 10px;
    min-height: 75vh;
    min-width: 40vw; 
    text-align: center;
    animation: fadeIn 1.5s ease-out;
    margin-left: auto; 
    margin-right: auto; 
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.1rem;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.photo-preview {
    display: block;
    margin: 20px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #b282d6;
    animation: pulse 1.5s infinite;
}

.update-button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #b282d6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
}

.update-button:hover {
    background-color: #b282d6;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
