.register-body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #000000;
  background: linear-gradient(135deg, #8f00fc, #8f00fc84, #fefefe59);
  background-size: 300% 300%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.register-back-submit {
  position: absolute; 
  top: 20px; 
  left: 20px; 
  background: none;
  border: none;
  background-color: #8f00fc;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-top-left-radius: 8px;
  margin-bottom: 30px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  animation: fadeIn 1s ease-out forwards;
}

.register-back-submit:hover {
  background-color: #8f00fc3f;
  transform: scale(1.05);
}

.register-container {
  background-color: #ffffff9a;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.15);
  width: 500px;
  text-align: center;
  animation: slideIn 1.5s ease-out, popIn 2s ease-out 1;
}

.register-title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  animation: zoomIn 0.8s ease-out;
}

.register-form, .register-form-group {
  margin-bottom: 15px;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.register-form, .register-form-group:nth-child(1) {
  animation-delay: 0.4s;
}

.register-form, .register-form-group:nth-child(2) {
  animation-delay: 0.6s;
}

.register-form, .register-form-group:nth-child(3) {
  animation-delay: 0.8s;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.register-form input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #8f00fc3f;
  outline: none;
  transition: box-shadow 0.3s, transform 0.3s;
}

.register-form input:focus {
  border-color: #8f00fc;
  background-color: #8f00fc3f;
  box-shadow: 0 0 8px rgba(197, 131, 230, 0.4);
  transform: scale(1.02);
}

.register-btn-submit {
  width: 100%;
  padding: 12px 20px;
  background-color: #8f00fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.8s;
  margin-top: 60px;
}

.register-btn-submit:hover {
  background-color: #8f00fc3f;
  transform: scale(1.05);

}

@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
